<!DOCTYPE html>
<html>
<head>
  <title>Personal DJ</title>
  <%= favicon_link_tag "/favicon.ico" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <%= link_to ' Home', home_index_path, :class => "brand icon-home icon-white" %>
        <div class="nav-collapse">
          <ul class="nav">
            <li><%= link_to "Project Description", "/home/project-page" %></li>
            <li><%= link_to "Posts", forums_path %></li>
            <li><%= link_to "Tasks", tasks_path %></li>
            <li><%= link_to "Milestones", milestones_path %></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

<div>
  <%= yield %>
</div>

</body>
</html>
